*{
    padding: 0;
    box-sizing: border-box;
    /* background: none; */
    margin: 0;
    color: white;
}
body{
background: radial-gradient(circle, rgba(123,132,123,1) 0%, rgba(128,160,139,1) 0%, rgba(84,101,91,1) 0%, rgba(44,47,46,1) 100%);
overflow-x: hidden; 
}

.heading{
background: #2c2f2e;
height: 50px;
width: 100%;
margin-top: -6px;
text-align: center;
color: #7b847b; 
line-height: 3rem;
font-family: cursive;
}
.choices{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: 70px;
}

.img1{
width: 200px;
height: 200px;
padding-left: -100px;
border-radius: 50%;

}
.img2{
width: 200px;
height: 200px;
border-radius: 50%;
}
.img3{
width: 200px;
height: 200px;
padding-left: -100px;
border-radius: 50%;
}
.img:hover{
    scale: 0.9;
    /* background: wheat; */
    border: solid white;
    opacity: 0.7;
    transition: all ease 0.5s;
    cursor: pointer;
}

.scoreboard{
    display: flex;
    justify-content: center;
    background: none;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#userscore ,#compscore{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
}
.win{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.win1{
    display: none;
}
.win2{
    display: none;
}
#msg{
    background-color: rgb(30, 26, 22);
    /* display: inline; */
    height: 50px;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius:1rem ;
    /* margin-top: rem; */
margin-left: 40%;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.copy{
    text-align: center;
position: fixed;
margin-top: 100px;
bottom: 0;
color: #7b7f7b;
font-size: 0.8rem;
right: 0;
margin-right: 10px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.draw{
    text-align: center;
    margin-top: 50px;
    margin-bottom: -20px;
    font-size: 2rem;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.draw1{
    display: none;

}




@media screen and (max-width: 768px) {
    .choices {
        flex-direction: row;
        gap: 20px;
    }

    .img1,
    .img2,
    .img3 {
        width: 150px;
        height: 150px;
    }

    .choices .choice {
        margin-bottom: 20px;
    }

    
}